.header-wrapper {
  @include flex(center);
  width: 100%;
  line-height: 50px;
  background-color: $bg-main;
  position: fixed;
  z-index: 99;
}

.header-container {
  @include flex(space-between, row, center);
  width: 90%;  
  padding: 0px 90px;
}