header {

  .img-ada {
    width: 65px;
    text-align: center;
  }
}

#intro {

  .img-intro {
    width: 85%;
  }
}

#about {

  .img-about {
    width: 550px;
  }
}

#portfolio {

  .img-portfolio {
    width: 350px;
    height: 250px;
  }
}

#testimonials {

  .testimonial-img {
    width: 123px;
    height: 123px;
    border-radius: 50%;
    margin-right: 30px;
  }
}

#team {

  .img-team {
    width: 250px;
    border-radius: 50%;
    margin: 15px 30px;
  }
}