.link-nav-mobile {
  display: none;
}

#about {
  
  .links-about {
    @include flex(center, row, center);
    margin: 35px 0px;

    &:hover {
      transition: .3s;
      
      .icon-about-container {
       background-color: $tertiary-color;
       transition: .3s;
      
        .icon-about {        
        color: #FFF;
        transition: .3s;
        }        
      }
    }
  
    .description-link-about {
      width: 85%;
      margin-left: 15px;
  
      h4 {
        margin: 0;
        color: $title-bold-color;
        @include font($font-size-m, bold, $font-secundary, $title-bold-color);
      }
      
      p {
        @include font ($font-size-s, normal);
        margin: 0;
      }
    }
  }  
}

.card-why-us {

  a {
    text-decoration: none;
    color: $bg-main;
    font-weight: bold;
    line-height: 60px;
    transition: 0.3s;

    &:hover {
      border-bottom: 2px solid #FFFFFF;
      transition: 0.3s;
    }
  }
}

.footer-copyright {

  .icon-up-container {
    a {
      
      &:active {
      transition: all 1s ease;
      }
    }
  }
}