//Color

$main-color: #1445B3;
$secundary-color: #00458F;
$tertiary-color: #007BFF;
$bg-main: #FFFFFF;
$bg-secundary: #ECF5FF;
$text-color: #444;
$text-light-color: #556877;
$title-bold-color: #283d50;
$h4-color: #111;


$font-main: 'Open Sans';
$font-secundary: 'Montserrat';

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 24px;
$font-size-xl: 36px;


