.btn-nav-mobile {
  display: none; }

.btn-intro-container {
  display: flex;
  width: 455px; }
  .btn-intro-container a {
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat";
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    width: 170px;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-align: center;
    text-decoration: none; }
    .btn-intro-container a:nth-child(1) {
      border: 2px solid #007BFF;
      border-radius: 20px;
      background-color: #007BFF; }
      .btn-intro-container a:nth-child(1):hover {
        border: 2px solid #FFFFFF;
        border-radius: 20px;
        background-color: #1445B3; }
    .btn-intro-container a:nth-child(2) {
      border: 2px solid #FFFFFF;
      border-radius: 20px;
      margin-left: 30px; }
      .btn-intro-container a:nth-child(2):hover {
        border: 2px solid #007BFF;
        border-radius: 20px;
        background-color: #007BFF; }

#portfolio .btns-portfolio {
  display: flex;
  margin: 20px 0px; }
  #portfolio .btns-portfolio button {
    border: none;
    border-radius: 20px;
    background-color: #ECF5FF;
    font-size: 12px;
    font-weight: normal;
    font-family: "Open Sans";
    color: #007BFF;
    padding: 8px 20px;
    margin: 15px;
    transition: 0.3s; }
    #portfolio .btns-portfolio button:hover {
      cursor: pointer;
      background-color: #007BFF;
      color: #ECF5FF;
      transition: 0.3s; }

#testimonials .btn-carousel {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  #testimonials .btn-carousel button {
    border: none;
    border-radius: 50%;
    background-color: #DDD;
    width: 15px;
    height: 15px;
    margin: 5px; }

#contact button {
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans";
  color: #FFFFFF;
  border: none;
  border-radius: 30px;
  background-color: #007BFF;
  width: 150px;
  height: 40px;
  margin: 10px 0px;
  transition: 0.3s; }
  #contact button:hover {
    cursor: pointer;
    background-color: #0961BB;
    transition: 0.3s; }

.card-service {
  display: flex;
  width: 40%;
  height: 170px;
  line-height: 23px;
  background-color: #FFFFFF;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition-duration: 0.5s; }
  .card-service .description-card-service {
    padding: 15px; }
    .card-service .description-card-service p {
      font-size: 14px;
      font-weight: normal;
      font-family: "Open Sans";
      color: #556877; }
    .card-service .description-card-service h4 {
      margin: 10px 0px 0px 0px; }
  .card-service:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition-duration: 0.5s; }

.card-why-us {
  background-color: #00458F;
  width: 310px;
  height: 290px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s; }
  .card-why-us p {
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans";
    color: #D8EAFE;
    padding: 0px 20px; }
  .card-why-us h4 {
    font-size: 22px; }
  .card-why-us:hover {
    background-color: #043C75;
    transition: 0.3s; }

#clients {
  background-color: #ECF5FF; }
  #clients .card-clients-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    border: 1px solid #d6eaff;
    margin: 50px 0px;
    box-sizing: border-box; }
    #clients .card-clients-wrapper .card-client:nth-child(1) {
      width: 230px;
      height: 160px;
      margin: 1px;
      background-color: #FFFFFF;
      text-align: center;
      line-height: 195px; }
      #clients .card-clients-wrapper .card-client:nth-child(1) img {
        width: 100px;
        height: 45px;
        transition: 0.5s; }
    #clients .card-clients-wrapper .card-client:nth-child(2) {
      width: 230px;
      height: 160px;
      margin: 1px;
      background-color: #FFFFFF;
      text-align: center;
      line-height: 195px; }
      #clients .card-clients-wrapper .card-client:nth-child(2) img {
        width: 100px;
        height: 45px;
        transition: 0.5s; }
    #clients .card-clients-wrapper .card-client:nth-child(3) {
      width: 230px;
      height: 160px;
      margin: 1px;
      background-color: #FFFFFF;
      text-align: center;
      line-height: 195px; }
      #clients .card-clients-wrapper .card-client:nth-child(3) img {
        width: 100px;
        height: 45px;
        transition: 0.5s; }
    #clients .card-clients-wrapper .card-client:nth-child(4) {
      width: 230px;
      height: 160px;
      margin: 1px;
      background-color: #FFFFFF;
      text-align: center;
      line-height: 195px; }
      #clients .card-clients-wrapper .card-client:nth-child(4) img {
        width: 100px;
        height: 45px;
        transition: 0.5s; }
    #clients .card-clients-wrapper .card-client:nth-child(5) {
      width: 230px;
      height: 160px;
      margin: 1px;
      background-color: #FFFFFF;
      text-align: center;
      line-height: 195px; }
      #clients .card-clients-wrapper .card-client:nth-child(5) img {
        width: 100px;
        height: 45px;
        transition: 0.5s; }
    #clients .card-clients-wrapper .card-client:nth-child(6) {
      width: 230px;
      height: 160px;
      margin: 1px;
      background-color: #FFFFFF;
      text-align: center;
      line-height: 195px; }
      #clients .card-clients-wrapper .card-client:nth-child(6) img {
        width: 100px;
        height: 45px;
        transition: 0.5s; }
    #clients .card-clients-wrapper .card-client:nth-child(7) {
      width: 230px;
      height: 160px;
      margin: 1px;
      background-color: #FFFFFF;
      text-align: center;
      line-height: 195px; }
      #clients .card-clients-wrapper .card-client:nth-child(7) img {
        width: 100px;
        height: 45px;
        transition: 0.5s; }
    #clients .card-clients-wrapper .card-client:nth-child(8) {
      width: 230px;
      height: 160px;
      margin: 1px;
      background-color: #FFFFFF;
      text-align: center;
      line-height: 195px; }
      #clients .card-clients-wrapper .card-client:nth-child(8) img {
        width: 100px;
        height: 45px;
        transition: 0.5s; }
    #clients .card-clients-wrapper .card-client:hover {
      cursor: pointer; }
      #clients .card-clients-wrapper .card-client:hover img {
        transform: scale(1.2);
        transition: 0.5s; }

#testimonials .carousel-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  #testimonials .carousel-wrapper .testimonial-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 90%;
    letter-spacing: 0.01em;
    line-height: 25px; }
    #testimonials .carousel-wrapper .testimonial-container h4 {
      font-size: 18px;
      font-weight: 700;
      font-family: "Montserrat";
      color: #111;
      margin: 0; }
    #testimonials .carousel-wrapper .testimonial-container span {
      font-size: 14px;
      font-weight: normal;
      font-family: "Montserrat";
      color: #556877; }
    #testimonials .carousel-wrapper .testimonial-container p {
      font-size: 16px;
      font-weight: normal;
      font-family: "Open Sans";
      color: #444;
      font-style: italic; }

.icon-about-container {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid #007BFF;
  text-align: center;
  line-height: 75px; }
  .icon-about-container .icon-about {
    font-size: 30px;
    color: #007BFF; }

.icon-services-container {
  margin: auto; }
  .icon-services-container .icon-services {
    font-size: 60px;
    position: relative;
    right: 10px; }

.icon-why-us {
  font-size: 48px;
  color: #D8EAFE;
  margin-top: 30px; }

.icons-portfolio {
  display: flex;
  justify-content: center; }
  .icons-portfolio .icon-proyect-container {
    width: 40px;
    line-height: 45px;
    height: 40px;
    border-radius: 50%;
    background-color: #007BFF;
    margin: 8px; }
    .icons-portfolio .icon-proyect-container i {
      font-size: 22px;
      color: #FFFFFF; }

.icons-team-container {
  font-size: 20px;
  margin-top: 15px; }
  .icons-team-container a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px 3px; }

.icon-contact {
  font-size: 32px;
  color: #007BFF;
  margin-right: 15px; }

.footer-social-links {
  font-size: 15px;
  margin: 30px 0px; }
  .footer-social-links a {
    text-decoration: none;
    color: #FFFFFF; }

.icon-up-container {
  width: 45px;
  height: 45px;
  background-color: #007BFF;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px; }
  .icon-up-container:hover {
    cursor: pointer; }
  .icon-up-container a {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 45px; }

.section .title-section-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%; }
  .section .title-section-container h3 {
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat";
    color: #283d50;
    margin: 50px 0px 15px 0px; }
  .section .title-section-container p {
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans";
    color: #556877;
    width: 65%;
    line-height: 23px;
    margin: 0; }

#intro h2 {
  font-size: 48px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #FFFFFF;
  margin: 0;
  height: 243px; }
  #intro h2 span {
    text-decoration: underline;
    color: #74B5FC; }

#about .section-about p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans";
  color: #444;
  line-height: 26px; }
#about .description-about h4 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #283d50;
  line-height: 30px; }

#contact .info-contact-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px; }
  #contact .info-contact-container .info-contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; }

header .img-ada {
  width: 65px;
  text-align: center; }

#intro .img-intro {
  width: 85%; }

#about .img-about {
  width: 550px; }

#portfolio .img-portfolio {
  width: 350px;
  height: 250px; }

#testimonials .testimonial-img {
  width: 123px;
  height: 123px;
  border-radius: 50%;
  margin-right: 30px; }

#team .img-team {
  width: 250px;
  border-radius: 50%;
  margin: 15px 30px; }

.link-nav-mobile {
  display: none; }

#about .links-about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 35px 0px; }
  #about .links-about:hover {
    transition: .3s; }
    #about .links-about:hover .icon-about-container {
      background-color: #007BFF;
      transition: .3s; }
      #about .links-about:hover .icon-about-container .icon-about {
        color: #FFF;
        transition: .3s; }
  #about .links-about .description-link-about {
    width: 85%;
    margin-left: 15px; }
    #about .links-about .description-link-about h4 {
      margin: 0;
      color: #283d50;
      font-size: 16px;
      font-weight: bold;
      font-family: "Montserrat";
      color: #283d50; }
    #about .links-about .description-link-about p {
      font-size: 14px;
      font-weight: normal;
      margin: 0; }

.card-why-us a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 60px;
  transition: 0.3s; }
  .card-why-us a:hover {
    border-bottom: 2px solid #FFFFFF;
    transition: 0.3s; }

.footer-copyright .icon-up-container a:active {
  transition: all 1s ease; }

.counters-wrapper {
  display: flex;
  justify-content: space-around;
  width: 85%; }
  .counters-wrapper .counter {
    margin: 30px;
    text-align: center; }
    .counters-wrapper .counter span {
      font-size: 44px;
      font-weight: 600;
      font-family: "Montserrat"; }
    .counters-wrapper .counter p {
      font-size: 14px;
      font-weight: normal;
      font-family: #D8EAFE; }

#portfolio .proyects-portfolio-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%; }
  #portfolio .proyects-portfolio-wrapper .proyect-portfolio {
    width: 350px;
    height: 250px;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.2s linear; }
    #portfolio .proyects-portfolio-wrapper .proyect-portfolio .info-proyect-portfolio {
      width: 100%;
      height: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      color: #FFFFFF;
      display: none;
      background-color: rgba(4, 60, 117, 0.4);
      transition: 0.2s linear; }
      #portfolio .proyects-portfolio-wrapper .proyect-portfolio .info-proyect-portfolio h4 {
        font-size: 24px;
        font-weight: bold;
        font-family: "Montserrat"; }
      #portfolio .proyects-portfolio-wrapper .proyect-portfolio .info-proyect-portfolio p {
        font-size: 16px;
        font-weight: normal;
        font-family: "Montserrat"; }
    #portfolio .proyects-portfolio-wrapper .proyect-portfolio:hover {
      cursor: pointer;
      transition: 0.2s; }
      #portfolio .proyects-portfolio-wrapper .proyect-portfolio:hover .info-proyect-portfolio {
        display: block;
        transition: 0.5s; }

#team .card-team-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px 0px;
  position: relative; }
  #team .card-team-wrapper .card-team {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 0px 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%; }
    #team .card-team-wrapper .card-team:hover {
      cursor: pointer; }
      #team .card-team-wrapper .card-team:hover .info-card-team {
        display: block;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: 0.4s; }
    #team .card-team-wrapper .card-team .info-card-team {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 0;
      color: #FFFFFF;
      display: none;
      background-color: rgba(4, 60, 117, 0.4);
      width: 250px;
      height: 250px;
      border-radius: 50%; }

.drop-item::after {
  content: '\f107';
  font-family: "Font Awesome 5 Free";
  padding-left: 10px; }
.drop-item:hover .firts-drop {
  display: block; }
.drop-item .firts-drop {
  right: 165px; }
.drop-item .drop {
  position: absolute;
  display: none;
  background-color: #ffffff;
  padding: 0;
  width: 190px;
  line-height: 47px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); }
  .drop-item .drop .deep-drop-item::after {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    padding-left: 40px; }
  .drop-item .drop .deep-drop-item:hover .deep-drop {
    display: block; }
  .drop-item .drop .deep-drop {
    left: 190px;
    top: 50px; }

.header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  line-height: 50px;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 99; }

.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 0px 90px; }

.nav-items {
  display: flex;
  padding: 0; }
  .nav-items a {
    text-decoration: none; }
    .nav-items a li {
      list-style: none;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: bold;
      color: #00458F;
      letter-spacing: 0.05em;
      margin: 0px 20px;
      transition: 0.3s; }
      .nav-items a li:hover {
        color: #007BFF;
        transition: 0.3s; }

#contact form {
  text-align: center; }
  #contact form .form-container {
    display: flex;
    flex-wrap: wrap; }
    #contact form .form-container input {
      font-size: 13px;
      font-weight: normal;
      font-family: "Open Sans";
      line-height: 30px;
      margin: 8px 15px;
      padding-left: 10px; }
    #contact form .form-container .input-name {
      flex: 1 0 300px; }
    #contact form .form-container .input-email {
      flex: 1 0 300px; }
    #contact form .form-container .input-subject, #contact form .form-container .input-msg {
      flex: 2 0 640px; }
    #contact form .form-container .input-msg {
      font-size: 13px;
      font-weight: normal;
      font-family: "Open Sans";
      margin: 8px 15px;
      padding-left: 10px; }

.footer-wrapper .footer-top {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-color: #004a99;
  color: #FFFFFF;
  font-size: 14px; }
  .footer-wrapper .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Montserrat";
    letter-spacing: 0.01em;
    margin: 30px 0px; }
  .footer-wrapper .footer-top .footer-description {
    font-size: 12px;
    font-weight: normal;
    font-family: "Montserrat";
    width: 330px;
    line-height: 30px;
    padding: 15px; }
    .footer-wrapper .footer-top .footer-description h3 {
      font-size: 36px;
      font-weight: normal; }
  .footer-wrapper .footer-top .footer-links {
    width: 150px; }
    .footer-wrapper .footer-top .footer-links a {
      color: #FFFFFF;
      font-weight: normal;
      text-decoration: none; }
    .footer-wrapper .footer-top .footer-links ul {
      padding: 0px; }
    .footer-wrapper .footer-top .footer-links li {
      margin: 20px 0px;
      padding: 0px;
      list-style: none; }
  .footer-wrapper .footer-top .footer-contact p {
    margin: 10px 0px; }
  .footer-wrapper .footer-top .footer-contact .footer-social-links {
    display: flex; }
    .footer-wrapper .footer-top .footer-contact .footer-social-links .social-link {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #007BFF;
      text-align: center;
      line-height: 35px;
      margin: 0px 3px;
      transition: 0.3s; }
      .footer-wrapper .footer-top .footer-contact .footer-social-links .social-link:hover {
        cursor: pointer;
        background-color: #0961BB;
        transition: 0.3s; }
  .footer-wrapper .footer-top .footer-news {
    width: 260px; }
    .footer-wrapper .footer-top .footer-news p {
      line-height: 23px; }
    .footer-wrapper .footer-top .footer-news form {
      margin: 28px 0px; }
      .footer-wrapper .footer-top .footer-news form input, .footer-wrapper .footer-top .footer-news form button {
        line-height: 30px;
        border: none; }
      .footer-wrapper .footer-top .footer-news form button {
        font-size: 14px;
        font-weight: normal;
        font-family: "Open Sans";
        color: #FFFFFF;
        width: 90px;
        position: absolute;
        background-color: #007BFF;
        transition: 0.3s; }
        .footer-wrapper .footer-top .footer-news form button:hover {
          cursor: pointer;
          background-color: #0961BB;
          transition: 0.3s; }
.footer-wrapper .footer-copyright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: normal;
  font-family: "Open Sans";
  color: #FFFFFF;
  background-color: #00458F;
  text-align: center;
  height: 90px; }
  .footer-wrapper .footer-copyright p {
    margin: 0; }

#intro {
  display: flex;
  background-color: #1445B3;
  height: 650px;
  padding-top: 20px; }
  #intro .img-intro-container, #intro .intro-container {
    width: 50%;
    margin: auto; }
  #intro .intro-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }

#about .section-about {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  margin-top: 20px;
  padding: 10px; }
  #about .section-about .description-about, #about .section-about .img-about-container {
    width: 50%; }

#services {
  background-color: #ECF5FF; }
  #services .card-service-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; }
  #services .card-service-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    padding: 35px 0px; }

#why-us {
  background-color: #004a99;
  color: #FFFFFF; }
  #why-us .title-section-container h3, #why-us .title-section-container p {
    color: #FFFFFF; }
  #why-us .card-why-us-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 50px; }

#testimonials {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #ECF5FF;
  height: 100%; }

#contact .form-contact-wrapper {
  display: flex;
  margin: 30px 15px;
  width: 100%;
  box-sizing: border-box; }
  #contact .form-contact-wrapper .map-contact-container {
    width: 60%; }

body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans"; }

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

@media (max-width: 1125px) {
  #about .section-about {
    width: 100%;
    box-sizing: border-box; }
    #about .section-about .img-about-container img {
      width: 100%; }

  #services .card-service-container {
    width: 100%; }

  #why-us .card-why-us {
    width: 30%; }

  #team .card-team-wrapper {
    width: 100%; }
    #team .card-team-wrapper .card-team {
      margin: 20px; }
      #team .card-team-wrapper .card-team .info-card-team {
        width: 100%;
        top: 0px; }
      #team .card-team-wrapper .card-team img {
        width: 100%; }

  #clients .card-clients-wrapper {
    width: 100%; } }
@media (max-width: 993px) {
  .header-nav {
    width: 100%;
    background-color: rgba(19, 39, 57, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-962px);
    transition: 0.3s; }
    .header-nav .nav-items {
      display: block;
      background-color: rgba(19, 39, 57, 0.95);
      width: 260px;
      margin: 0;
      height: 100vh; }
      .header-nav .nav-items li {
        color: #FFFFFF; }

  .link-nav-mobile {
    display: block;
    text-decoration: none;
    position: fixed;
    top: 14px;
    right: 20px;
    z-index: 999;
    border: none; }
    .link-nav-mobile i {
      font-size: 20px;
      color: #004289; }
    .link-nav-mobile:hover {
      cursor: pointer; }

  #sidebar:target {
    transform: translateX(0); }
    #sidebar:target .link-open {
      display: none; }
    #sidebar:target .link-close {
      z-index: 9999;
      position: absolute;
      right: 30px; }
    #sidebar:target .nav-items .firts-drop {
      right: 215px;
      top: 290px; }
      #sidebar:target .nav-items .firts-drop li {
        color: #00458F; }

  #intro {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center; }
    #intro .intro-container {
      width: 60%;
      margin: 0; }
    #intro .img-intro-container {
      margin: 0;
      width: 60%;
      text-align: center; }
    #intro .title-intro-container {
      text-align: center; }

  #about .section-about {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center; }
    #about .section-about .description-about, #about .section-about .img-about-container {
      width: 80%; }
  #about .second-section {
    flex-direction: column; }

  #why-us .card-why-us-wrapper {
    flex-direction: column;
    width: 100%; }
    #why-us .card-why-us-wrapper .card-why-us {
      width: 80%; }
  #why-us .counters-wrapper {
    justify-content: center;
    flex-wrap: wrap; }
    #why-us .counters-wrapper .counter {
      width: calc(50% - 60px); }

  #contact .form-contact-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    #contact .form-contact-wrapper .map-contact-container {
      width: 95%; }

  .footer-wrapper .footer-top {
    flex-wrap: wrap; }
    .footer-wrapper .footer-top .footer-description,
    .footer-wrapper .footer-top .footer-links,
    .footer-wrapper .footer-top .footer-contact,
    .footer-wrapper .footer-top .footer-news {
      width: 40%; }
    .footer-wrapper .footer-top .footer-description {
      padding: 0; } }
@media (max-width: 767px) {
  #intro .intro-container .title {
    font-size: 30px;
    margin-top: 20px;
    height: 170px; }
  #intro .intro-container .btn-intro-container {
    width: 100%; }

  #services .card-service-container {
    flex-direction: column; }
    #services .card-service-container .card-service {
      height: 100%;
      width: 75%; }

  #team {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }

  #clients .card-clients-wrapper .card-client {
    line-height: 260px;
    width: 80%; }
    #clients .card-clients-wrapper .card-client img {
      width: 75%;
      height: 75%; }

  #contact .form-contact-wrapper .form-contact-container .info-contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start; }

  .footer-wrapper .footer-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .footer-wrapper .footer-top .footer-description,
    .footer-wrapper .footer-top .footer-links,
    .footer-wrapper .footer-top .footer-contact,
    .footer-wrapper .footer-top .footer-news {
      width: 80%; }
    .footer-wrapper .footer-top .footer-news form input {
      width: 70%; }
    .footer-wrapper .footer-top .footer-news form button {
      width: 120px; } }

/*# sourceMappingURL=main.css.map */
